<h1>Hey <%= @merchant.name %>! Let's Make A New Discount</h1>

<%= form_with url: merchant_discounts_path(@merchant.id), method: :post, local: true do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :discount %>
  <%= f.text_field :discount %><br>

  <%= f.label :quantity %>
  <%= f.text_field :quantity %><br>

  <% f.hidden_field :merchant_id, value: @merchant.id %>

  <%= f.submit 'Create Discount' %>

<% end %>